#header {
    position: fixed;
    /* display: flex; */
    float: left;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: rgb(223, 139, 43);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1; /*làm nổi heder*/
}

#nav {  
    display: inline-block; 
    width: 700px;
}

#nav > li {
    display: inline-block; /* chuyển sang ngang */
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none; /* làm mất dấu gạch chân link*/
    line-height: 46px; /*  căn chỉnh chữ ra giữa dòng */
    padding: 0 24px;
    display: block; /* căn chỉnh dòng chữ full thẻ*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a {
    color: rgb(223, 139, 43);
    background-color: #ccc;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;  /*ẩn list con */
    min-width: 160px;
    top: 100%;
    left: 0; 
    position: absolute;
    background-color: white;
    list-style-type: none; /* bỏ kí hiệu hánh dấu của li */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* tạo bóng đổ */
    
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    border-bottom: solid 1px #e5e6ec;
}

#header #icon-header{
    right: 0;
    padding: 0 30px;
    display: inline-block;
    position: absolute;

}

#icon-header li{
    position: relative;
    list-style-type: none;
}

#icon-header li {
    display: inline-block;
}

#icon-header li a{
    text-decoration: none; /* làm mất dấu gạch chân link*/
    line-height: 46px; /*  căn chỉnh chữ ra giữa dòng */
    padding: 0 24px;
    color: #fff;
    text-transform: uppercase;
    /* text-align: right; */
    display: block; /* căn chỉnh dòng chữ full thẻ*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#icon-header  li:hover a {
    color: #000;
    background-color: #fff;
}

/* #icon-header .searchhd:hover form {
    display: block;
} */

/* #icon-header .searchhd form input {
    position: absolute;
    top: -41px;
    z-index: 999;
    left: -140px;
    border-radius: 30px;
    height: 35px;
    line-height: 35px;
    padding: 0 40px 0 15px;
    min-height: 35px;
    border: 0;
    color: #282828;
} */

#icon-header .group_ac{
    display: none;
}

#icon-header li:hover .group_ac{
    
    display: block;
    position: absolute;
    top: 45px;
    color: #000;
    background: #fff;
    padding: 1px;
    z-index: 9999;
    box-shadow: 0 0 15px -5px rgb(0 0 0 / 40%);
    border-radius: 1px;

}

#icon-header li:hover > a {
    color: #000;
    background-color: #ccc;
}

#icon-header .group_ac a:hover {
    color: rgb(223, 139, 43);;
    background-color: #ccc;
}



#nav .nav-arrow-down{
    font-size: 12px;
}

/* #header .help-btn {
    float: right;
    padding: 0 16px;
}

#header .help-btn:hover {
    background-color: rgb(223, 139, 43);
    cursor: pointer; /* đổi con trỏ sang hình bàn tay 
}

#header .help-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
} */