#main {
    /* font-family: */
}

#newSite {
    margin-bottom: 100px;
}

.titleSite .headerSite {
    font-size: 35px;
    margin: 60px;
    color: rgb(208, 136, 36);
}

.titleSite {
    display: flex;
}

.titleSite img {  
    width: 150px;
    height: 70px;
    margin-top: 26px;
}

#newSite {
    margin-top: 100px;
}


#root > li img {
    width: 300px;
    position: absolute;
    bottom: 0;
}

#root > li h2 {
    width: 80%;
    color: rgb(127, 123, 123)
}

#root > li {
    width: 30%;
    height: 360px;
    margin-left: 20px;
    list-style-type: none;
    position: relative;
}
