*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
/* Begin header */
#header{
    height: 170px;
}
#header #topbar{
    height: 45px;
    background: #4d8a54;
    line-height: 45px;
    position: relative;

}
#topbar .fa{
    font-size: 18px;
}
#topbar #container{
    margin: 0 19px;
    position: relative;

}
#container .contact{
    margin:0 0 0 45px;
    width: 50%;
}


/* Begin nav */
#header #nav{
    margin-top: 45px;
    margin: 45px 47.5px 0 47.5px;
    padding: 0 15px;
    box-sizing: border-box;
}
#nav li a{
    list-style-type: none;
    color: #000;
}
#nav >li >a{
    text-transform: uppercase;
    color: #000;
}
#nav >li:hover >a{
    color:#28a745

}
#nav li a {
    text-decoration: none;
}

#nav > li{
    display: inline-block ;
}
#nav .subnav li{
    list-style-type: none;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0 , 0 , 0 , 0.5);
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a{
    color:#28a745
}





/* End nav */



/* End header */
#slider{

}

#conten{

}

#footer{

}
