/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết

1. Vị trí
2. Kích thước 
3. Màu sắc
4. Kiểu dáng ( kiểu chữ)
*/

#clear {
  clear: both; /*giải quyết vấn đề float*/
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

/* use for  */
.title2 {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px; /* dãn khoảng cách giữa các chữ*/
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.content-row {
  width: 800px;
  padding: 30px 0;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.333333%;
}

.box-flex {
    display: flex;
}

#main {
    
}



