.box{
    display: block;
}

.box .container{
    width: 532px;
    margin-top: 60px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(246, 138, 15);
  border-radius: 3px;
}

.container .content .title {
    font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 32px;
}

.container .content .tks_for {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.container .content .good_luck {
    font-size: 20px;
    display: block;
    text-align: center;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
.container .Home{
    padding: 12px 24px;
    margin-top: 32px;
    border-radius: 5px;
    background-color: rgb(173, 88, 3);
    border: 1px solid rgb(173, 88, 3);
    margin-left: 32px;

}
.Home a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.container .Receipt{
    padding: 12px 24px;
    margin-top: 32px;
    border-radius: 5px;
    background-color: rgb(173, 88, 3);
    border: 1px solid rgb(173, 88, 3);
    margin-left: 96px;

}
.Receipt a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
