#main {
    /* font-family: */
}

#newSite {
    margin-bottom: 100px;
    margin-top: 100px;
}

.titleSite .headerSite {
    font-size: 35px;
    margin: 60px;
    color: rgb(208, 136, 36);
}

.titleSite {
    display: flex;
}

.titleSite img {  
    width: 150px;
    height: 70px;
    margin-top: 36px;
}

#root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    margin: 0 10%;
}

#root > li img {
    width: 70%;
    height: 220px;
    border-radius: 5%;
    position: absolute;
    bottom: 0;
}

#root > li h2 {
    width: 70%;
    color: rgb(127, 123, 123);
    margin-top: 30px;
    font-size: 18px;
    
}

#root > li :hover {
    color: rgb(215, 37, 20);
    height: 230px;
}

#root > li {
    width: 20%;
    height: 360px;
    margin-top: 50px;
    list-style-type: none;
    position: relative;
}

