#list-productions {
    margin-bottom: 100px;
    margin-top: 70px;
}

.headerItem {
    text-align: center;
}

.headerItem img {
    width: 250px;
    height: 150px;
}

#root {
    margin: 2% 9%;
    
}

#root h1 {
    color:  rgb(127, 123, 123);
    margin-bottom: 10px;
}

#root .rootItem {
    margin-top: 80px;
    /* border: 0.5px rgb(142, 116, 116);
    box-shadow: 0.5px 0.5px rgb(55, 52, 52);   */
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 400;
}

#root .col-warp {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 0.5px solid #ccc;
}

#root .product-info h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #282828;
}



.col-warp li {
    width: 20%;
    margin-bottom: 16px;
}

.col-warp img {
    width: 170px;
    height: 200px;
    border-radius: 5px;
    border: 0.01px;
    z-index: 2;
}

.col-warp button {
    width: 170px;
    height: 40px;
    text-align: center;
    color: #fff;
    border: 1px solid #4d717d;
    background-color: rgb(100, 177, 128);
    z-index: 1;

    /* display: none; */
}

.col-warp li:hover {
    transform: scale(1.05);

}
/* 
.cafe {
    display: flex;
} */

